.serviceCard{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 30%;
    height: 20%;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.serviceCard:hover{
   transform: scale(1.02);
}



.imageBlock{
    width: 100%;
    height: 200px;
}
.serviceImage{
    object-fit:cover;
    
}
.Ss{
    height: 70px;

}

.serviceCardText{
   
    height: 100%;
   /* padding-top: 12px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.serviceCardText h2{
    margin: 0;
    color: white;
    font-size: 36px;
}


