.detWrapperBlock{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.detailsBlock{
    width: 1200px;
    height: 550px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.informationBlock{
    width: 712px;
    height: 480px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
     
}
.fieldsBlock{
    font-size: 45px;
    color: white;
    margin-left: 50px;
}

.buttonsBlockWrapper{
    width: 398px;
    height: 480px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.buttonsBlock{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}