.bookingTablePageWrapper{
   min-height: 100vh;
}

.serachBookingsWrapper{
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 40px 0 ;
}

.bookingTableWrapperBlock{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableBlock{
    background: rgba(255, 255, 255, 0.05);
    width: 1000px;
    
  

}

.tableWrapper{
    margin: 0 0 50px 0;
}

.tableHeadingWrapper{
    color: white;
    font-weight: 800;
    font-size: 30px;
    
}
.tHeading{
     margin: 20px;
     padding: 5px;
}
.tableDescriptionWrapper{
    color: white;
    font-size: 22px;
}

.tableDescription{
    text-align: center;
}
.searchParagraph{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.titleButton{
    display: flex;
    flex-direction: column;
    
}